/** Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  background: #e2d8fa;
}

.coin-container {
img {
    position: auto;
    margin-top: 70px;
    margin-left: 240px;
    width: 70vw;
    height: 77vh;
    justify-content: center;
  }
}

.gif-container {
  img {
    position: auto;
    margin-top: 70px;
    margin-left: 790px;
    width: 70vw;
    height: 77vh;
    justify-content: center;
  }
}

.flip-container {
  position: relative;
  margin-top: 2000px;
  margin-left: 2800px;
  width: 550px;
  height: 300px;
  font-size: 50px;
  justify-content: center;
}

.flip-container {
  img {
    justify-content: center;
    position: relative;
    margin-top: 2000px;
    margin-left: 2800px;
    width: 350ww;
    height: 200wh;
    font-size: 50px;
 }
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}