/** Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  background: #e2d8fa;
}

.coin-container {
img {
    position: fixed;
    margin-top: 70px;
    margin-left: 240px;
    width: 70vw;
    height: 77vh;
  }
}

.flip-container {
  position: auto;
  margin-top: 1300px;
  margin-left: 240px;
  width: 10vw;
  height: 15vh;
  font-size: 50px;
}
