/** Created on: June 2025
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  justify-content: center;
}

.mdl-textfield__error {
  color: lightgreen;
}

body {
  background: #e2d8fa;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
